.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  flex-shrink: 0;

  height: 2.25rem;
  padding: 0.25rem;
  border-radius: 0.75rem;

  font-family: inherit;
  font-weight: inherit;
  font-size: 0.8125rem;
  text-wrap: nowrap;
  color: var(--label-primary);

  background-color: var(--surface-secondary);
  transition: var(--ease);

  &:hover {
    background-color: var(--surface-quaternary);
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &--xs {
    height: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;

    &.blue {
      color: var(--blue);

      &:hover {
        background-color: var(--blue-5);
      }
    }

    &.red {
      color: var(--label-error);

      &:hover {
        background-color: var(--red-5);
      }
    }
  }

  &--md {
    width: 100%;
    min-width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.75rem;

    font-weight: 500;
    font-size: 0.875rem;
  }

  &--lg {
    width: 100%;
    min-width: 3.375rem;
    height: 3.375rem;
    border-radius: 1rem;

    font-weight: 500;
    font-size: 1rem;
  }

  &--outline {
    color: var(--label-secondary);
    background-color: transparent;
    border: 1px solid var(--border-primary);

    &:hover {
      background-color: transparent;
      border-color: var(--border-hover);
    }
  }

  &--blue {
    color: var(--button-label-primary);
    background-color: var(--button-default);

    &:hover {
      background-color: var(--button-hover);
    }
  }

  &--red {
    color: var(--label-error);
    background-color: var(--red-5);

    &:hover {
      background-color: var(--red-10);
    }
  }
}
