.checkbox {
  position: relative;

  input {
    display: none;

    &:checked ~ label {
      &::before {
        border-color: var(--checkbox-surface);
        background-color: var(--checkbox-surface);

        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.43732 11.4501L12.2364 5.99629C12.5879 5.59679 12.5879 4.94911 12.2364 4.54962C11.8848 4.15013 11.3149 4.15013 10.9634 4.54962L6.80024 9.28083L5.03663 7.27652C4.6851 6.87703 4.11518 6.87703 3.76365 7.27652C3.41212 7.67601 3.41212 8.32369 3.76365 8.72318L6.16316 11.4501C6.33833 11.6491 6.56872 11.75 6.79907 11.75C7.02942 11.75 7.26096 11.6505 7.43732 11.4501Z' fill='%23F6F7F8'/%3E%3C/svg%3E%0A");
      }
    }

    &:disabled ~ label {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    text-align: left;
    text-wrap: nowrap;

    transition: var(--ease);
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;

      width: 1rem;
      height: 1rem;
      border-radius: 0.25rem;

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: 1px solid var(--checkbox-border);

      transition: var(--ease);
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          border-color: var(--checkbox-surface);
        }
      }
    }
  }

  &--switcher {
    label {
      width: 3.125rem;
      height: 1.875rem;
      border-radius: 9rem;

      background-color: var(--surface-quaternary);

      &::before {
        width: 1.375rem;
        height: 1.375rem;
        border-radius: 50%;

        margin-left: 0.25rem;

        background-color: var(--surface-primary);
        border: none;

        transition: var(--ease);
      }
    }

    input {
      &:checked + label {
        background-color: var(--blue);

        &::before {
          margin-left: calc(100% - 1.375rem - 0.25rem);

          background-image: none;
          background-color: var(--surface-primary);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .checkbox {
    label {
      font-size: 0.875rem;
    }
  }
}
