.wallet {
  display: grid;
  grid-template-columns:
    auto
    minmax(10rem, 1fr)
    minmax(9rem, 2fr)
    minmax(8rem, 1fr)
    minmax(9rem, 1fr)
    minmax(10rem, 1fr)
    1.625rem;
  align-items: center;
  gap: 1.25rem;

  min-width: 100%;
  width: fit-content;
  padding: 1rem 1.25rem;

  background-color: var(--surface-primary);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--border-secondary);

  transition:
    background-color var(--ease),
    border-color var(--ease);

  &--import {
    grid-template-columns:
      1rem
      minmax(9rem, 1fr)
      minmax(9.5rem, 1.5fr)
      minmax(8rem, 1fr)
      minmax(8rem, 1fr)
      minmax(8rem, 1fr)
      minmax(8rem, 1fr)
      minmax(8rem, 1fr);
  }

  &--add {
    grid-template-columns: 1fr;
    justify-items: center;

    border-radius: 0 0 0.75rem 0.75rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 0.75rem;
    text-wrap: nowrap;

    svg {
      flex-shrink: 0;
    }

    &--cursor {
      cursor: pointer;
      user-select: none;
    }
  }

  &__favorite {
    display: flex;
    color: var(--icon-error);
  }

  &__address {
    position: relative;

    cursor: pointer;
    user-select: none;

    @media (any-hover: hover) {
      &:hover {
        & .wallet__tip {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
    }

    &--hidden {
      -webkit-text-security: disc;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    width: max-content;
    padding: 0.375rem 0.5rem;
    border-radius: 1rem;

    font-size: 0.625rem;
    color: inherit;

    background-color: var(--surface-secondary);

    transition: var(--ease);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--surface-tertiary);
      }
    }
  }

  &__menu {
    position: relative;
  }

  &__icon {
    display: flex;

    padding: 0.25rem;
    border-radius: 0.5rem;

    color: var(--label-tertiary);
    transition: var(--ease);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--surface-tertiary);
      }
    }

    &.active {
      background-color: var(--surface-tertiary);
    }
  }
}
