.auth {
  &__img {
    width: 4rem;

    margin: 0 auto 2rem;
  }

  &__title {
    margin-bottom: 4rem;

    font-size: 1.625rem;
    line-height: 140%;
    text-align: center;
  }

  &__buttons {
    width: 100%;
    text-align: center;
    margin-top: 1.25rem;
  }
}
