.password {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin-bottom: 1rem;

  &__btn {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    margin-bottom: 1rem;

    font-size: 1rem;
    line-height: 140%;
    transition: var(--ease);

    svg {
      width: 1rem;
      height: 1rem;
      color: var(--blue);
      transform: rotate(180deg);
    }

    &:hover {
      color: var(--blue);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--surface-primary);
    box-shadow: var(--shadow-2);
  }

  &__save {
    margin-top: auto;
  }
}
