.wallets {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;

    padding-left: 0.375rem;
  }

  &__btn {
    padding: 0.375rem 0.625rem;
    border-radius: 0.375rem;

    color: var(--blue);
    transition: var(--ease);

    &:hover {
      background-color: var(--blue-8);
    }

    &.red {
      color: var(--label-error);

      &:hover {
        background-color: var(--red-5);
      }
    }
  }
}
